@font-face {
    font-family: "BYekan";
    src: url("../fonts/yekan/BYekan-webfont.eot") format("eot") ,
        url("../fonts/yekan/BYekan-webfont.woff") format("woff") ,
        url("../fonts/yekan/BYekan-webfont.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
}

@media(min-width:600px) {
    .top-navbar {
        box-shadow: 0 0 50px gray !important;
    }
    #top-actions-section {
        display: flex;
        align-items: center;
    }
}

.user_list_item.active .user_list_arrow_icon {
    transform: rotate(180deg);
}

.user_list_item.active , .user_list_item.active .collapsible-header {
    background-color: rgb(202, 200, 200);
}

table.highlight > tbody > tr:hover {
  background-color: #bbdefb ;
}

.container {
    width: 100% !important;
}

.add-user-modal-back {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.50);
    left: 0;
    top: 0;
    z-index: 100;
}
.add-user-modal {
    position: fixed;
    height: 70vh;
    background-color: white;
    z-index: 101;
    bottom: -70vh;
    left: 0;
    right: 0;
}
.add-user-modal.show {
    box-shadow: 0 0 10px blue;
    bottom: 0;
}

.user_list_section {
    height: calc(100vh - 258px);
    overflow: auto;
}